<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Google Search Results Scraper</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <H1>Google Search Results</H1>
        <div class="container">
            <form action="">
                <label for="query">Insert your search query</label>
                <input type="text" id="query" name="query" placeholder="Search query">
                <button type="submit">Search</button>
            </form>

        </div>
    </body>
    <footer><p>© 2024 Marek Brychta | All rights reserved</p></footer>
</html>